/* .form-parent{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
} */


select{
  background-color: white;
}

.form-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0 25px;
    background-color: white;
  }

  .headline-text{
    font-size: 33px;
    font-family: 'Segoe UI'
  }


  /* .select {
    appearance: none;
    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><polygon points="6,0 0,6 12,6" style="fill:black"/></svg>') no-repeat right center;
    background-size: 12px 6px;
  } */

  .select{
    width: 100%;
    max-width: 300px; /* You can adjust the max-width to your liking */
    padding: 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    background-color: none;
  }
  
  .select-error{
    width: 100%;
    max-width: 300px; /* You can adjust the max-width to your liking */
    padding: 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #ff0000;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    background-color: none;
  }

  .select:checked{
    color: #000;
  }

  select option {
    color: #7b7b7b;
  }
  
  select option:first-child {
    color: #000;
  }
  
  select option:checked {
    color: #FF0000;
  }

  .inp{
    width: 100%;
    max-width: 300px; /* You can adjust the max-width to your liking */
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
  }
  
  .hw-inp,
  .select-hw {
    width: 100%;
    max-width: 300px; /* You can adjust the max-width to your liking */
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
  }

  .hw-inp:focus,
  .inp:focus{
    border-bottom: 1px solid #606060;
  }
  
  .hw-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px; /* You can adjust the max-width to your liking */
    box-sizing: border-box;
  }

  .hw-inp{
    width: 80%;
    padding-left: 10px;
    height: 35px;
  }

  .select-hw{
    width: 20%;
    height: 35px;
  }

  @media screen and (min-width: 200px) and (max-width: 580px) {
    .select-hw{
      padding: 7px;
      margin-top: 0;
    }
  }

  .textarea-form{
    margin-top: 20px;
    padding: 10px;
    max-width: 300px;
    resize: none;
    border: 1px solid #ccc;
  }

  .textarea-form:focus{
    outline: none !important;
    border: 1px solid #606060;
  }
  
  .send-btn{
    width: 100%;
    height: 40px;
    max-width: 300px;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    cursor: pointer;
  }

  small{
    color: #eb0000;
    margin-top: 8px;

  }

  .error{
    width: 300px;
    padding-left: 7px;
  }




