.spinner {
    width: 40px;
    height: 40px;
    display: grid;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    background: var(--c) 50%  0, 
         var(--c) 50%  100%, 
         var(--c) 100% 50%, 
         var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: spinner-3hs4a3 1s infinite;
 }
 
 .spinner::before {
    --c: radial-gradient(farthest-side,#f4950d 92%,#0000);
    margin: 5px;
    background-size: 6px 6px;
    animation-timing-function: linear;
 }
 
 .spinner::after {
    --c: radial-gradient(farthest-side,#5dda00 92%,#0000);
 }
 
 @keyframes spinner-3hs4a3 {
    100% {
       transform: rotate(.5turn);
    }
 }